@{
    ViewBag.Title = "About us";
}
<head>
    <link rel="shortcut icon" href="Cloud.ico"/>
</head>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<h4>The best airplane company that offers the most comfort in the air.</h4>

<hr />

<h4>Work Time</h4>
<p>Monday - Sunday from 9:00 a.m. to 5:00 p.m</p>