@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <h4><abbr title="Phone">Phone: +359 877 051 212</abbr></h4>
</address>

<address>
    <strong>Owners: Alex Georgiev, Pavel Zhelev, Dilyan Kulin, Nikolay Georgiev</strong>  
    <br />
    <a href="mailto:a.georgiev121205@gmail.com">Send Email</a>
    <br />
</address>